/* Utilities */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

/* body{
    background-color: black;
} */



/* nav */

/* nav {
    height: 100px;
    width: 100%;
    
} */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

.nav-menu>ul {
    list-style: none;
    display: flex;
    gap: 35px;


}

.nav-menu {
    justify-content: space-between;
}

.class-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* Banner */

.banner-content {
    display: flex;
    flex-direction: column;

}

.banner-details {
    display: flex;
    flex-direction: column;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
    padding-top: 116px;
    padding-bottom: 35px;
}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
}

.buttion-primary {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;

}

.button-first {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
}

.btn-text {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.banner-img {
    margin-bottom: 45px;
}

/* feature */
.feature-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    margin-bottom: 130px;


}

.featute-images {
    display: grid;
    grid-template-columns: repeat(2, 332px);
    gap: 24px;
    margin-top: 85px;
    padding-right: 20px;
}

.featute-images>img {
    border-radius: 8px;
}

.feature-container {}

.feature-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

.btn-feature {}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-bottom: 24px;
}

.of-our {
    font-weight: 700;
    color: #131313;
}

.features {
    color: #FF900E;
}


/* service */

.service {
    display: flex;
    justify-content: space-between;
    gap: 146px;

}

.service-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;

}

.service-div {
    padding-top: 40px;
}

.service-info {}

.service-list {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;



}

.service-info-intainer {
    padding: 30px;
}

.service-list-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;

}

.service-list-info,
.fact-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.service-img {
    position: relative;
}

.experience {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    position: absolute;
    bottom: -30px;
    display: flex;
    align-items: center;
    
}


/* factzs */

.facts {
    margin-top: 130px;
}

.fact {}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-bottom: 24px;
}

    {}

.icon-container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.fact-icon {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 130px;


}

.fact-icon>img {
    margin-top: 45px;
}

.fact-icon:hover img {
    transform: rotate(-90deg);
}

.fact-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact-content {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Sponspos */

.sponsor {
    margin-bottom: 130px;
}

.sponsor-details {
    text-align: center;
}

.sponsor-title,
.contact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-info {

    font-weight: 400;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 50px;

}

.sponsor-icon {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sponsor-icon>img {
    filter: grayscale(100%);
}

/* footer */
footer {
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
    margin-top: 130px;
}

.contact {
    text-align: center;
    align-items: center;
}
.contact-title{
    margin-bottom: 25px;
}

footer > p {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    display: flex;
    
    
    

}

